#anomaly-list-container {
    width: 20%;
    height: 60%;
    background: var(--background);
    border: var(--border);
    pointer-events: all;
}

#anomaly-list-internal-container {
    height: 100%;
}

#anomaly-list-close-icon {
    height: var(--anomaly-list-closing-icon-size);
    width: var(--anomaly-list-closing-icon-size);
}

#anomaly-list-close-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}


#anomaly-list-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--title-size);
    padding: 3px 8px;
}

.modify-button-container:hover {
    content: url("../../assets/icons/anomaly-list/filter-blue.png");
    height: var(--anomaly-list-closing-icon-size);
    width: var(--anomaly-list-closing-icon-size);
}

.modify-button-container {
    height: var(--anomaly-list-closing-icon-size);
    width: var(--anomaly-list-closing-icon-size);
    display: flex;
    flex-direction: row;
    font-size: 0.6em;
    justify-content: flex-end;
    align-items: center;
    padding: 2px 2px 1px 1px;
    cursor: pointer;
}

.list-title {
    font-weight: bold;
}

.filter-icon {
    height: var(--anomaly-list-closing-icon-size);
    width: var(--anomaly-list-closing-icon-size);
}