#anomaly-list-container {
    text-align: center;
    display: flex;
}

#anomaly-list-title {
    height: var(--anomaly-list-title-height);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--anomaly-list-title-font-size);
    font-weight: bold;
}

#anomaly-list-internal-container {
    height: 100%;
}

#anomaly-list-close-icon {
    height: var(--anomaly-list-closing-icon-size);
    width: var(--anomaly-list-closing-icon-size);
}

#anomaly-list-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;

}

#anomaly-list-close-icon {
    padding-left: var(--anomaly-list-closing-icon-margin);
}
#anomaly-list-close-icon:hover {
    cursor: pointer;
}