/* This css file is meant for managing the root layout and the color shcemes */

:root {

  --anomaly-list-title-font-size: 1.0em;
  --anomaly-list-title-height: 50px;

  --anomaly-list-entry-font-size: 0.8em;
  --anomaly-list-entry-height: 36px;
  --anomaly-list-entry-icon-size: 20px;

  --sidebar-icon-size: 30px;

  --object-details-return-icon-size: 30px;
  --object-details-return-icon-margin: 10px;

  --object-details-entry-padding: 10px;

}

#root-div {
  height: 100vh;
}

#sidebar {
  width: 40px;
  height: 100vh;
  border-left: 1px solid black;
}

#anomaly-list-container, #object-details-container {
  width: 17%;
  height: 100vh;
  border-left: 1px solid black;
}

#map-container {
  width: 70%;
  height: 100vh;
  flex-grow: 1;
}