/* This css file is meant for managing the root layout and the color schemes. */

:root {

    --anomaly-list-closing-icon-size: 20px;
    --anomaly-list-closing-icon-margin: 10px;

    --anomaly-list-entry-font-size: 0.8em;
    --anomaly-list-entry-height: 36px;
    --anomaly-list-entry-icon-size: 15px;
    --anomaly-list-entry-icon-container-width: 15px;
    --anomaly-list-entry-id-font-size: 0.6em;

    --sidebar-icon-size: 30px;

    --object-details-return-icon-size: 20px;
    --object-details-return-icon-margin: 10px;

    --object-details-entry-padding: 10px;
    --object-details-title-font-size: 1.2em;
    --object-details-title-height: 50px;
    --object-details-entry-font-size: 0.8em;

    --error-list-closing-icon-size: 20px;
    --error-list-closing-icon-margin: 10px;

    --error-list-entry-font-size: 0.8em;
    --error-list-entry-height: 36px;
    --error-list-entry-icon-size: 20px;
    --error-list-entry-icon-container-width: 25px;

    --notification-list-entry-height: 72px;
    --notification-list-entry-id-font-size: 0.8em;
    --notification-list-entry-font-size: 0.6em;
    --notification-list-date-entry-font-size: 0.8em;
    --notification-list-entry-icon-container-width: 15px;
    --notifcation-list-entry-icon-size: 25px;
    --notification-list-mark-all-button-length: 50px;

}

#root-div {
    height: 100vh;
}

#sidebar {
    width: 40px;
    height: 100vh;
    border-left: 1px solid black;
}

#anomaly-list-container, #object-details-container {
    height: 100vh;
    border-left: 1px solid black;
}

#map-container {
    width: 70%;
    height: 100vh;
    flex-grow: 1;
}