#error-list-container {
    width: 20%;
    text-align: center;
    display: flex;
    height: 100vh;
    border-left: 1px solid black;
}

#error-list-internal-container {
    overflow: scroll;
    height: 100%;
}

#error-list-close-icon {
    height: var(--error-list-closing-icon-size);
    width: var(--error-list-closing-icon-size);
    padding: var(--error-list-closing-icon-margin);
}

#error-list-close-icon:hover {
    cursor: pointer;
}

#error-list-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;

}

#error-list-mark-all-button {
    margin-right: 5px;
    background-color: white;
    box-shadow: 0 3px #999;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 7px;
    padding-right: 7px;
}

#error-list-mark-all-button:hover {
    background-color: lightgray;
}

#error-list-mark-all-button:active {
    transform: translateY(2px);
    box-shadow: 0 1px #666;
    background-color: lightgray;
}