.info-container {
    position: absolute;
    bottom: 5px;
    left: 5px;

    width: 25%;
    height: 20%;

    background: #bbbbbbCC;
    border: var(--border);
    padding: 25px 6px 35px;
}

.info-text {
    overflow-y: auto;
    text-align: justify;
    font-size: 0.8em;
    font-weight: 400;
    word-break: break-word;
}


.info-container-title {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 100%;
    text-align: center;

    font-size: 0.9em;
    font-weight: 600;
}

.info-container:hover {
    background: #bbbbbb;
}

.info-icon {
    position: absolute;
    bottom: 10px;
    left: 10px;

    width: 25px;
    height: 25px;

    cursor: pointer;
}

.info-icon:hover {
    content: url("../assets/icons/helper-icons/info-hover.png");
}

.close-icon {
    position: absolute;
    height: var(--close-icon-length);
    width: var(--close-icon-length);

    cursor: pointer;

    top: 2px;
    right: 2px;
}

.close-icon:hover {
   transform: scale(1.1);
}
