.information-container {
    position: absolute;
    bottom: 5px;
    left: 5px;

    width: 15%;
    height: 21%;

    background: var(--background);
    border: var(--border);
    padding: 25px 6px 25px;
}

.information-text {
    max-height: 100%;
    overflow-y: auto;
    text-align: justify;
    font-size: 0.7em;
    font-weight: 400;
    word-break: break-word;
}


.information-container-title {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 100%;
    text-align: center;

    font-size: 0.8em;
    font-weight: 600;
}

.information-container:hover {
    background: rgba(255, 255, 255, 1);
}

.information-icon {
    position: absolute;
    bottom: 10px;
    left: 10px;

    width: 20px;
    height: 20px;

    cursor: pointer;
}

.information-icon:hover {
    content: url("../assets/icons/helper-icons/info-hover.png");
}

.close-icon {
    position: absolute;
    height: 20px;
    width: 20px;

    cursor: pointer;

    top: 2px;
    right: 2px;
}

.close-icon:hover {
   transform: scale(1.1);
}
