#notification-list-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid black;
    height: 80%;
    width: 20%;
    pointer-events: all;
}

#notification-list-close-icon {

}

#notification-list-close-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#notification-list-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

#notification-list-mark-all-button {
    margin-right: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
    font-size: 0.8em;
}

#notification-list-mark-all-button:hover {
    background: darkgray;
}

#notification-list-button-button-div {
    padding: 1px;
    margin-right: 1px;
}

#notification-list-internal-container {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0;
    width: 100%;
    align-self: center;
}

#notification-list-name-text {
    font-weight: bold;
}
