#object-details-container {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3px;
}

.object-details-title-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: var(--object-details-title-height);
    flex-shrink: 0;
}

.object-details-title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--object-details-title-font-size);
    font-weight: bold;
    padding-left: 30px;
}

.object-details-return-icon {
    cursor: pointer;
    width: var(--object-details-return-icon-size);
    height: var(--object-details-return-icon-size);
    margin-left: var(--object-details-return-icon-margin);
}

.object-details-properties-list{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    overflow-y: auto;
    height: calc(60vh - var(--object-details-title-height));
    padding: 3px;
}

.object-details-notification-list {
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    height: 10vh;
    flex-grow: 1;
    margin-top: 3px;
}

.object-details-notification-title {
    text-align: center;
}