#object-details-container {
    width: 10%;
    text-align: center;
}

.object-details-title {
    height: var(--object-details-title-height);
    flex-grow: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--object-details-title-font-size);
    font-weight: bold;
}

.object-details-title-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}

.object-details-return-icon {
    cursor: pointer;
    width: var(--object-details-return-icon-size);
    height: var(--object-details-return-icon-size);
    margin-left: var(--object-details-return-icon-margin);
}