.settings-div {
    width: 10%;
    height: 22.2%;

    background: var(--background);
    border: var(--border);

    text-align: center;
    font-size: var(--title-size);
    padding: var(--title-padding);
    font-weight: bold;
}

.settings-div:hover {
    background: var(--hover-background);
}