.sidebar-entry, .sidebar-bug-icon-all-read,
.sidebar-bug-icon-not-all-read, .sidebar-bell-icon-all-read,
.sidebar-bell-icon-not-all-read {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-icon {
    width: var(--sidebar-icon-size);
    height: var(--sidebar-icon-size);
}

.sidebar-entry:hover, .sidebar-bug-icon-all-read:hover,
.sidebar-bug-icon-not-all-read:hover, .sidebar-bell-icon-all-read:hover,
.sidebar-bell-icon-not-all-read:hover  {
    background-color: lightblue;
}

.sidebar-bug-icon-not-all-read {
    background-color: indianred;
}

.sidebar-bell-icon-not-all-read {
    background-color: orange;
}

