#side-container {
    position: absolute;

    width: 100%;
    height: 98%;
    top: 1%;
    right: 0.5%;

    border: 1px solid black;
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    pointer-events: none;
}