#notification-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border: var(--border);
    height: 60%;
    width: 15%;

    pointer-events: all;
    background: var(--background);

    font-size: 0.9em;
}

#notification-list-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--title-padding);
    font-size: var(--title-size);
    font-weight: bold;
    width: 95%;
}

#notification-list-internal-container {
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 0;
    width: 95%;
    max-height: 100%;
    border-top: var(--border);
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-bottom: 3px;
}

#notification-list-close-icon {
    height: var(--close-icon-length);
    width: var(--close-icon-length);
}

#notification-list-close-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#notification-list-mark-all-button, #notification-list-mark-all-button:hover {
    margin: 0;
    cursor: pointer;
    width: var(--check-icon-length);
    height: var(--check-icon-length);
}

#notification-list-mark-all-button:hover {
    content: url("../../assets/icons/helper-icons/mark-all-green.png");
}
