#error-list-container {
    width: 20%;
    background: var(--background);
    text-align: center;
    display: flex;
    height: 60%;
    border: var(--border);
    pointer-events: all;
}

#error-list-internal-container {
    overflow: hidden;
    height: 100%;
}

#error-list-close-icon {
    height: var(--error-list-closing-icon-size);
    width: var(--error-list-closing-icon-size);
}

#error-list-close-icon:hover {
    cursor: pointer;
}

#error-list-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 8px;
    font-size: var(--title-size);
    font-weight: bold;
}

#error-list-mark-all-button {
    width: var(--anomaly-list-closing-icon-size);
    height: var(--anomaly-list-closing-icon-size);
    cursor: pointer;
}

#error-list-mark-all-button:hover {
    width: var(--anomaly-list-closing-icon-size);
    height: var(--anomaly-list-closing-icon-size);
    content: url("../../assets/icons/helper-icons/mark-all-green.png");
}

#error-list-mark-all-button:active {
    transform: translateY(2px);
    box-shadow: 0 1px #666;
    background-color: lightgray;
}

#error-list-name-text {
    font-weight: bold;
}