.ais-details-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ais-details-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.ais-details-subtitle {
    font-weight: bold;
}

.ais-details-info {

}

.ais-details-info-container {
    margin-top: 5%;
    margin-left: 8%;
    width: 100%;
}