#object-details-container {
    width: 20%;
    height: 60%;
    background: var(--background);
    border: var(--border);
    pointer-events: all;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.object-details-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--object-details-title-height);
    padding: 3px 8px;
}

.object-details-title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--object-details-title-font-size);
    font-weight: bold;
}

.object-details-return-icon {
    cursor: pointer;
    width: var(--object-details-return-icon-size);
    height: var(--object-details-return-icon-size);
}

.object-details-properties-list{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    overflow-y: auto;
    height: 70%;
    width: 100%;
}

.object-details-notification-list {
    /* padding: 3px; */
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 10%;
    flex-grow: 1;
    margin-top: 3px;
    width: 100%;
}

.object-details-notification-title {
    text-align: center;
}

.object-anomaly-score {
    font-weight: bold;
    margin: 0;
    /*-webkit-text-stroke: 0.2px black;*/
}