#object-details-container {
    width: 25%;
    height: 60%;

    background: var(--background);
    border: var(--border);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    pointer-events: all;
    overflow: auto;
}

.object-details-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--object-details-title-height);
    padding: var(--title-padding);
}

.object-details-title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--object-details-title-font-size);
    font-weight: bold;
}

.object-details-return-icon {
    cursor: pointer;
    width: var(--object-details-return-icon-size);
    height: var(--object-details-return-icon-size);
}

.object-details-properties-list{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    overflow-y: auto;
    height: 70%;
    width: 100%;
}

.object-details-notification-list {
    /* padding: 3px; */
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 10%;
    flex-grow: 1;
    margin-top: 3px;
    width: 100%;
}

.object-details-notification-title {
    text-align: center;
}

.object-anomaly-score {
    font-weight: bold;
    margin: 0;
    /*-webkit-text-stroke: 0.2px black;*/
}

.menu-info-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.menu-container {
    width: 95%;
    height: 6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.info-container {
    display: flex;
    width: 100%;
    padding-top: 20px;
}

.displayed, .not-displayed, .notification-displayed, .notification-not-displayed {
    border: 1px solid black;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    font-weight: bold;
    background: var(--background-blue);
    cursor: pointer;
    padding: 2px;
}

.not-displayed, .notification-not-displayed {
    background: #90A4B04D;
}

.not-displayed:hover, .notification-not-displayed:hover {
    background: var(--background-blue);
}

.notifications-container {
    max-height: 100%;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;

    padding: 0;
}