.object-details-entry {
    width: 90%;
    padding-top: var(--object-details-entry-padding);
    padding-bottom: var(--object-details-entry-padding);
    text-align: left;
    padding-left: var(--object-details-entry-padding);
    border-bottom: 1px dotted gray;

    font-size: var(--object-details-entry-font-size);
}

.object-details-entry-type {
    font-weight: bold;
}

.object-details-entry-value {
    font-weight: normal;
    overflow-wrap: break-word;
}

.object-details-entry-value ul {
    padding-left: 15px;
}
