#notification-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border: var(--border);
    height: 60%;
    width: 17%;

    pointer-events: all;
    background: var(--background);
}

#notification-list-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--title-padding);
    font-size: var(--title-size);
    font-weight: bold;
    width: 95%;
}

#notification-list-internal-container {
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 0;
    width: 95%;
    max-height: 100%;
    border: var(--border);
    border-bottom: none;
    margin-bottom: 5px;
}

#notification-list-close-icon {
    height: var(--close-icon-length);
    width: var(--close-icon-length);
}

#notification-list-close-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#notification-list-mark-all-button, #notification-list-mark-all-button:hover {
    margin: 0;
    cursor: pointer;
    width: var(--anomaly-list-closing-icon-size);
    height: var(--anomaly-list-closing-icon-size);
}

#notification-list-mark-all-button:hover {
    content: url("../../assets/icons/helper-icons/mark-all-green.png");
}

.no-notifications {
    margin-top: 10px;
    font-size: 0.7em;
    font-weight: bold;
    border: 1px black solid;
    width: 95%;
    text-align: center;
}
