#notification-list-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: var(--border);
    height: 60%;
    width: 20%;
    pointer-events: all;
    background: var(--background);
}

#notification-list-close-icon {

}

#notification-list-close-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#notification-list-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 8px;
}

#notification-list-mark-all-button {
    margin: 0;
    cursor: pointer;
    width: var(--anomaly-list-closing-icon-size);
    height: var(--anomaly-list-closing-icon-size);
}

#notification-list-mark-all-button:hover {
    content: url("../../assets/icons/helper-icons/mark-all-green.png");
    width: var(--anomaly-list-closing-icon-size);
    height: var(--anomaly-list-closing-icon-size);
}

#notification-list-internal-container {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0;
    width: 100%;
    align-self: center;
}

#notification-list-name-text {
    font-size: var(--title-size);
    font-weight: bold;
}
